.svg-store
	svg( xmlns="http://www.w3.org/2000/svg" )
		symbol( id="close-icon" viewBox="0 0 500 500" )
			path(d='M500,448.3L301.7,250L500,51.7L448.3,0L250,198.3L51.7,0L0,51.7L198.3,250L0,448.3L51.7,500L250,301.7\
			L448.3,500L500,448.3z')
