extends base/_layout
block head
    title О нас
block page
    section(id='first-section').section-about
        .container
            .section-about__inner
                .section-about__data
                    h2.section-about__title(data-aos="fade-right") О нас
                    .section-about__data-row
                        .section-about__subtitle(data-aos="fade-right") Миссия:
                        .section-about__text(data-aos="fade-right") Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
                    .section-about__data-row
                        .section-about__subtitle(data-aos="fade-right") Видение:
                        .section-about__text(data-aos="fade-right") Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
                .section-about__right(data-aos="fade-left")
                    img(src='images/content/section-about/0.jpg').section-about__img
    section.section-about-map
        .container
            .section-about-map__inner
                .block-contacts
                    .block-contacts__inner(data-aos="fade-up")
                        .block-contacts__row
                            a(href='tel: +7(495)191-09-14').block-contacts__link +7 (495) 191 - 09 - 14
                        .block-contacts__row
                            a(href='mailto: support@logo.com').block-contacts__link support@logo.com
                        .block-contacts__row.block-contacts__row_hr
                            .block-contacts__adress Тверская область, Фировский район,  п. Сосновка ул. Школьная, д. 102
                img(src='images/content/section-about-map/bg.jpg' data-aos="fade-up").section-about-map__img
    include sections/popup
