extends base/_layout
block head
    title Бесплатный сайт
block page
    section(id='first-section').section-free-site
        .container
            .section-search-clients__inner
                .block-intro
                    h2.block-intro__title.block-intro__title_mb(data-aos="fade-up" id='intro-title') Бесплатный сайт экспортерам
                    .block-intro__form.block-intro__form_bg(data-aos='fade-down' data-aos-delay='500' data-aos-anchor='#intro-title')
                        .block-intro__row
                            .block-intro__col
                                +input-name({placeholder: 'Как вас зовут?'})
                            .block-intro__col
                                +input-email({placeholder: 'Ваш Email'})
                            .block-intro__col
                                +input-submit({value: 'Оставить заявку'})
    section.section-steps-work
        .container
            h2.section-steps-work__title(data-aos='fade-down') Этапы работы
            .section-steps-work__data

                //BLOCK INFORMATION START
                .block-information.block-information_revers
                    .block-information__col(data-aos='fade-left')
                        img(src='images/content/section-steps-work/0.jpg').block-information__img
                    .block-information__col(data-aos='fade-right')
                        h3.block-information__title.block-information__title_active Заполнение брифа и ТЗ
                        .block-information__subtitle В брифе отражается необходимая информация о деятельности клиента, его преимуществах и вкусовых
                //BLOCK INFORMATION END

                //BLOCK INFORMATION START
                .block-information.block-information_revers(data-aos='fade-up')
                    .block-information__col
                        img(src='images/content/section-steps-work/3.jpg').block-information__img
                    .block-information__col
                        h3.block-information__title.block-information__title_active Разработка дизайна и проекта
                        .block-information__subtitle В брифе отражается необходимая информация о деятельности клиента, его преимуществах и вкусовых
                //BLOCK INFORMATION END

                //BLOCK INFORMATION START
                .block-information.block-information_revers
                    .block-information__col(data-aos='fade-left')
                        img(src='images/content/section-steps-work/2.jpg').block-information__img
                    .block-information__col(data-aos='fade-right')
                        h3.block-information__title.block-information__title_active Верстка и программирование
                        .block-information__subtitle В брифе отражается необходимая информация о деятельности клиента, его преимуществах и вкусовых
                //BLOCK INFORMATION END

                //BLOCK INFORMATION START
                .block-information.block-information_revers(data-aos='fade-up')
                    .block-information__col
                        img(src='images/content/section-steps-work/1.jpg').block-information__img
                    .block-information__col
                        h3.block-information__title.block-information__title_active Базовое SEO
                        .block-information__subtitle В брифе отражается необходимая информация о деятельности клиента, его преимуществах и вкусовых
                //BLOCK INFORMATION END

    section.section-technologist
        .container
            .section-technologist__inner
                .section-technologist__data
                    h2.section-technologist__title(data-aos='fade-right' id='technologist-title') Технологии
                    .section-technologist__text-wrapper(data-aos='fade-down' data-aos-delay='500' data-aos-anchor='#technologist-title')
                        p.section-technologist__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                .section-technologist__list-wrapper
                    ul.section-technologist__list
                        +technologistItem({text: 'Свой код', src: 'images/content/section-technologist/0.svg'})
                        +technologistItem({text: 'Уникальный дизайн', src: 'images/content/section-technologist/1.svg'})
                        +technologistItem({text: 'Эффективные бизнес-решения',src: 'images/content/section-technologist/2.svg'})
                        +technologistItem({text: 'Поддержка', src: 'images/content/section-technologist/3.svg'})

    section.section-site-portfolio
        .container
            .section-site-portfolio__inner
                h2.section-site-portfolio__title Примеры работ
        .section-site-portfolio__slider-wrapper
            .section-site-portfolio__slider.site-slider
                +portfolioSiteSlide({src: 'images/content/section-site-portfolio/0.jpg',bigsrc: 'images/content/section-site-portfolio/0.jpg' , link: '#'})
                +portfolioSiteSlide({src: 'images/content/section-site-portfolio/1.jpg',bigsrc: 'images/content/section-site-portfolio/1.jpg' , link: '#'})
                //+portfolioSiteSlide({src: 'images/content/section-site-portfolio/2.jpg', link: '#'})
                //+portfolioSiteSlide({src: 'images/content/section-site-portfolio/3.jpg', link: '#'})

    section.section-want-site
        .container
            .section-want-site__inner
                form.section-want-site__form
                    h2.section-want-site__title(data-aos='fade-down' data-aos-delay='0') Хочу сайт
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='100')
                        input(placeholder='Название компании' type='text' name='name-company').input-text
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='200')
                        +input-email({placeholder: 'Эл. почта'})
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='300')
                        +input-tel({placeholder: 'Телефон'})
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='400')
                        +input-name({placeholder: 'Имя'})
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='500')
                        input(placeholder='Цель сайта' type='text' name='target-site').input-text
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='600')
                        input(placeholder='Примерный бюджет' type='number' min='0' name='price').input-text
                    .section-want-site__form-row(data-aos='fade-down' data-aos-delay='700' data-aos-offset='50')
                        +input-submit({value: 'Оставить заявку'})
                .section-want-site__img
                    img(src='images/content/section-want-site/bg.jpg').img
    include sections/popup