extends base/_layout
block head
    title Главная
block page
    section.section-main(style="background-image:url(images/content/main-section/bg-pc.jpg)")
        .section-main__wrapper
            .container
                .section-main__inner
                    .section-main__data
                        .main-block
                            .main-block__content
                                h1.main-block__title Вы экспортер? Вы МСП?
                                p.main-block__text Оставьте заявку и получите бесплатные услуги от команды LILWID
                    .section-main__form
                        form.section-main__form-inner
                            .section-main__form-header
                                .section-main__form-title
                                    +formTitle({text: 'Оставьте заявку'})
                                .section-main__form-text
                                    +formText({text: 'и получите <span class="text-active">бесплатные услуги</span> от команды <span class="text-medium">Likwid</span>'})
                            .section-main__form-body
                                .section-main__form-row
                                    .section-main__form-col
                                        +input-name({placeholder: 'Как вас зовут?'})
                                    .section-main__form-col
                                        +input-email({placeholder: 'Ваш Email'})
                                .section-main__form-row
                                    +input-area()
                            .section-main__form-footer
                                .section-main__form-submit
                                    +input-submit({value: 'Оставить заявку'})
                                .section-main__form-police
                                    +formPolice({text: '*Нажимая на кнопку \"Оставить заявку\", <br> вы соглашаетесь с <a href="police.html" class="text-link">политикой конфиденциальности</a>'})
    section.section-getFree
        .container
            .section-getFree__inner
                //left
                .section-getFree__items
                    .services-list__wrapper
                        ul.services-list
                            +servicesItems({
                                title: 'Поиск клиентов на международном рынке',
                                icon: 'services-search',
                                link: 'search_clients.html',
                                text: 'и получите бесплатные услуги от команды Likwid'
                            })
                            +servicesItems({
                                title: 'Создание маркетинговых материалов',
                                icon: 'services-create',
                                link: 'search_clients.html',
                                text: 'и получите бесплатные услуги от команды Likwid'
                            })
                            +servicesItems({
                                title: 'Создание сайта',
                                icon: 'services-site',
                                link: 'search_clients.html',
                                text: 'и получите бесплатные услуги от команды Likwid'
                            })
                            +servicesItems({
                                title: 'Перевод на новые языки',
                                icon: 'services-translate',
                                link: 'search_clients.html',
                                text: 'и получите бесплатные услуги от команды Likwid'
                            })
                //right
                .section-getFree__right
                    h2.section-getFree__title
                    img(src='images/content/section-getFree/pc-')