extends base/_layout
block head
    title Главная
block page
    section.section-main(id='first-section' style="background-image:url(images/content/main-section/bg-pc.jpg)")
        .section-main__wrapper(id='first-wrapper')
            .section-main__inner-2
                .container
                    .section-main__inner
                        .section-main__data(data-aos="fade-up")
                            .main-block
                                .main-block__content
                                    h1.main-block__title Вы экспортер? Вы МСП?
                                    p.main-block__text Оставьте заявку и получите бесплатные услуги от команды LILWID
                        .section-main__form.form-block(data-aos="fade-up")
                            form.section-main__form-inner
                                .form-block__header
                                    .section-main__form-title
                                        +formTitle({text: 'Оставьте заявку'})
                                    .section-main__form-text
                                        +formText({text: 'и получите <span class="text-active">бесплатные услуги</span> от команды <span class="text-medium">Likwid</span>'})
                                .form-block__body
                                    .form-block__row
                                        .form-block__col
                                            +input-name({placeholder: 'Как вас зовут?'})
                                        .form-block__col
                                            +input-email({placeholder: 'Ваш Email'})
                                    .form-block__row
                                        +input-area()
                                .form-block__footer
                                    .section-main__form-submit
                                        +input-submit({value: 'Оставить заявку'})
                                    .section-main__form-police
                                        +formPolice({text: '*Нажимая на кнопку \"Оставить заявку\", <br> вы соглашаетесь с <a href="police.html" class="text-link">политикой конфиденциальности</a>'})
    section.section-getFree
        .container
            .section-getFree__inner
                //left
                .services-list__wrapper.section-getFree__items
                    ul.services-list
                        +servicesItems({
                            title: 'Поиск клиентов на международном рынке',
                            icon: 'services-clients',
                            link: 'search_clients.html',
                            text: 'и получите бесплатные услуги от команды Likwid'
                        })
                        +servicesItems({
                            title: 'Создание маркетинговых материалов',
                            icon: 'services-create',
                            link: 'proto.html',
                            text: 'и получите бесплатные услуги от команды Likwid'
                        })
                        +servicesItems({
                            title: 'Создание сайта',
                            icon: 'services-site',
                            link: 'free_site.html',
                            text: 'и получите бесплатные услуги от команды Likwid'
                        })
                        +servicesItems({
                            title: 'Перевод на новые языки',
                            icon: 'services-translate',
                            link: 'translate.html',
                            text: 'и получите бесплатные услуги от команды Likwid'
                        })
                //right
                .section-getFree__right(data-aos="fade-left")
                    h2.section-getFree__title Что вы получите бесплатно?
                    img(src='images/content/section-getFree/0.jpg').section-getFree__img
    section.section-whoWork
        .container
            .section-whoWork__inner
                h2.section-whoWork__title(data-aos="fade-up") Как работает?
                .section-whoWork__data
                    +whoWorkStep({
                        img: 'images/content/section-whoWork/0.jpg',
                        title: 'Заполните заявку',
                        text: 'Кстати, диаграммы связей представляют собой не что иное, как квинтэссенцию мы связей представляют собой не что иное, как квинтэссенцию мы связей представляют собой не что иное, как квинтэссенцию',
                        number: '1.'
                    })
                    +whoWorkStep({
                        img: 'images/content/section-whoWork/1.jpg',
                        title: 'Анализ потребностей с менеджером',
                        text: 'Кстати, диаграммы связей представляют собой не что иное, как квинтэссенцию ',
                        number: '2.'
                    })
                    +whoWorkStep({
                        img: 'images/content/section-whoWork/2.jpg',
                        title: 'Получении субсидии',
                        text: 'Кстати, диаграммы связей представляют собой не что иное, как квинтэссенцию ',
                        number: '3.'
                    })
                    +whoWorkStep({
                        img: 'images/content/section-whoWork/3.jpg',
                        title: 'Оказание услуг',
                        text: 'Кстати, диаграммы связей представляют собой не что иное, как квинтэссенцию ',
                        number: '4.'
                    })
    include sections/section-logo
    section.section-letter
        .section-letter__inner
            h2.section-letter__title(data-aos="fade-up") Письма
            .section-letter__slider-wrapper(data-aos="fade-up")
                .slider-arrow
                    button.slider-arrow__prev.section-letter__slider-prev
                        +setSvg({name: 'arrow-left'})
                    button.slider-arrow__next.section-letter__slider-next
                        +setSvg({name: 'arrow-right'})
                .section-letter__slider.letter-slider
                    +letterSlide({
                        img: 'images/content/section-letter/0.jpg',
                        bigimg: 'images/content/section-letter/0.jpg',
                        id: 'id-1'
                    })
                    +letterSlide({
                        img: 'images/content/section-letter/1.jpg',
                        bigimg: 'images/content/section-letter/1.jpg',
                        id: 'id-2'
                    })
                    +letterSlide({
                        img: 'images/content/section-letter/2.jpg',
                        bigimg: 'images/content/section-letter/2.jpg',
                        id: 'id-3'
                    })
                    +letterSlide({
                        img: 'images/content/section-letter/3.jpg',
                        bigimg: 'images/content/section-letter/3.jpg',
                        id: 'id-4'
                    })
                    +letterSlide({
                        img: 'images/content/section-letter/4.jpg',
                        bigimg: 'images/content/section-letter/4.jpg',
                        id: 'id-5'
                    })
                    +letterSlide({
                        img: 'images/content/section-letter/5.jpg',
                        bigimg: 'images/content/section-letter/4.jpg',
                        id: 'id-6'
                    })

    section.section-helpYou(id='help-you')
        .section-helpYou__wrapper
            .container
                .section-helpYou__inner
                    h2.section-helpYou__title(data-aos="fade-up") Мы поможем вашему бизнесу
                    form.section-helpYou__form.form-block.form-submit(data-aos="fade-down")
                        .form-block__header
                            .section-helpYou__form-title
                                +formTitle({text: 'Оставьте заявку'})
                            .section-helpYou__form-text
                                +formText({text: 'и получите <span class="text-active">бесплатные услуги</span> от команды <span class="text-medium">Likwid</span>'})
                        .form-block__body
                            .form-block__row
                                .form-block__col
                                    +input-name({placeholder: 'Как вас зовут?'})
                                .form-block__col
                                    +input-email({placeholder: 'Ваш Email'})
                            .form-block__row
                                +input-area()
                        .section-helpYou__form-footer
                            .section-helpYou__form-submit
                                +input-submit({value: 'Оставить заявку'})
                            .section-helpYou__form-police
                                +formPolice({text: '*Нажимая на кнопку \"Оставить заявку\", вы соглашаетесь с <a href="police.html" class="text-link">политикой конфиденциальности</a>'})
    include sections/popup