extends base/_layout
block head
    title Лидогенерация
block page
    section(id='first-section').section-best-clients
        .container
            .section-best-clients__inner
                //OFFER
                .section-best-clients__offer
                    .section-best-clients__best-offer(data-aos="fade-up" data-aos-delay="500" data-aos-anchor="#best-clients-title" id='best-clients-offer') SALES, MARKETING, & CONTENT.
                    h1.section-best-clients__title(data-aos="fade-down" id='best-clients-title') Лучшие клиенты у нас
                    .section-best-clients__labels(data-aos="fade-down" data-aos-delay="800" data-aos-anchor="#best-clients-offer")
                        .section-best-clients__labels-row
                            .section-best-clients__labels-col
                                .section-best-clients__labels-text We create global demand
                            .section-best-clients__labels-col
                                .section-best-clients__labels-text We automate sales & content
                //SLIDER
                .section-best-clients__slider
                    .section-best-clients__header
                        .section-best-clients__dots.remove-mobile
                    .section-best-clients__body
                        +bestSlide()
                        +bestSlide()
                        +bestSlide()
                        +bestSlide()
                        +bestSlide()
                    .section-best-clients__footer
                        .section-best-clients__arrow-wrapper
                            button.section-best-clients__arrow.section-best-clients__arrow-prev
                                +setSvg({name: 'arrow2-left'})
                            button.section-best-clients__arrow.section-best-clients__arrow-next
                                +setSvg({name: 'arrow2-right'})
                        .section-best-clients__dots.active-mobile
    // .section-services START
    section.section-services
        .container
            .section-services__inner
                h2.section-services__title(data-aos="fade-up") Наши услуги
                .section-services__data
                    // 1 SERVICES BLOCK _____________
                    .services-block.services-block_lidogen(data-aos="fade-up")
                        .services-block__inner
                            h3.services-block__title Лидогенерация
                            h4.services-block__subtitle Мы найдем вам новых клиентов
                            p.services-block__text Загрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                            .services-block__btns
                                .services-block__btn-cal
                                    button.btn.btn-simple.btn-default.popup-open Оставить заявку
                                .services-block__btn-more
                                    button.btn-simple.btn-simple--black Подробнее
                    // 2 SERVICES BLOCK _____________
                    .services-block.services-block_site(data-aos="fade-up")
                        .services-block__inner
                            h3.services-block__title Сайты
                            h4.services-block__subtitle Мы найдем вам новых клиентов
                            p.services-block__text Загрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                            .services-block__btns
                                .services-block__btn-cal
                                    button.btn.btn-simple.btn-default.popup-open Оставить заявку
                                .services-block__btn-more
                                    button.btn-simple.btn-simple--black Подробнее
                    // 3 SERVICES BLOCK _____________
                    .services-block.services-block_translate(data-aos="fade-up")
                        .services-block__inner
                            h3.services-block__title Переводы
                            h4.services-block__subtitle Мы найдем вам новых клиентов
                            p.services-block__text Загрузим менеджеров по продажам теплыми звонками, встречами и сделками.
                            .services-block__btns
                                .services-block__btn-cal
                                    button.btn.btn-simple.btn-default.popup-open Оставить заявку
                                .services-block__btn-more
                                    button.btn-simple.btn-simple--black Подробнее
    .request-block
        .container
            .request-block__inner(data-aos="zoom-in")
                .request-block__data
                    .request-block__title Оставьте заявку и мы вам все расскажем
                    .request-block__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                    .request-block__btn
                        button.btn.btn-simple.btn-default.popup-open Оставить заявку
                .request-block__right
                    img(src='images/content/block-request/0.jpg').request-block__img
    include sections/popup
    include sections/section-logo
mixin bestSlide()
    .section-best-clients__slide
        a(href='index.html').section-best-clients__slide-inner
            .section-best-clients__slide-link-wrapper
                a(href='index.html').section-best-clients__slide-link
                    .section-best-clients__slide-text Открыть курс
                    .section-best-clients__slide-icon
                        +setSvg({name: 'lineArrow-right'})
                    .section-best-clients__slide-icon-hover
                        +setSvg({name: 'best-slider-arrow'})
            img(src='images/content/section-best-clients/0.jpg').section-best-clients__slide-img