.footer
    .container
        .footer__inner
            .footer__left
                .footer__logo
                    a(href="index.html").logo
                        +setSvg({name: 'logo'})
                .footer__social
                    ul.footer__social-list
                        +footerSocial({icon: 'social-tg', link: 'index.html'})
                        +footerSocial({icon: 'social-youtube', link: 'index.html'})
                        +footerSocial({icon: 'social-linkedin', link: 'index.html'})
            .footer__center
                ul.footer__menu
                    li
                        a(href="about.html").active О нас
                    li
                        a(href="proto.html") Лидогенерация
                    li
                        a(href="free_site.html") Сайты
                    li
                        a(href="translate.html") Переводы
            .footer__right
                // Заказать звонок
                //__________
                .call-block__link-wrapper
                    .call-block__link.popup-open
                        a.link Заказать звонок
                //__________
                // Номер телефона
                //__________
                .call-block__tel-wrapper
                    .call-block__tel
                        a(href='tel: +0634372457').tel (063) 437 24 57
                //__________
                .footer__copyright © 2021 LIKWID