mixin footerLink(obj)
	a(
		href=obj.link ? obj.link: '#'
		class=obj.class ? obj.class: false
		target=obj.target ? obj.target: false
	).footer-link
		.footer-link__icon
			+svgIcon(obj.icon)
		.footer-link__name=obj.name
footer.footer
	.container
		.footer__inner
			.copyright © 2018 «LoremIpsum.net» Все права защищены.
			.footer__links
				ul.footer__list
					li
						+footerLink({
							icon: '#qiwi-icon',
							name: 'Qiwi wallet',
							class: 'footer-link-grey qiwi',
                            target: '_blank',
						})
					li
						+footerLink({
							icon: '#yamoney-icon',
							name: 'Yandex Money',
							class: 'footer-link-grey yamoney',
                            target: '_blank',
						})
					li
						+footerLink({
							icon: '#webmoney-icon',
							name: 'Web Money',
							class: 'footer-link-grey webmoney',
                            target: '_blank',
						})
				ul.footer__list
					li
						+footerLink({
							icon: '#mail-icon',
							name: 'info@ipsum228.com',
							link: 'mailto:info@ipsum228.com'
						})
					li
						+footerLink({
							icon: '#vk-icon',
							name: 'Мы вконтакте',
							target: '_blank',
							class: 'vk',
						})
		//footer__inner
	//container
//footer
