.copyright {
  padding: 4rem 0;

  background-color: $footer-bg;

  @media screen and (max-width: $mobile-screen) {
    padding: 2rem 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 100%;
    max-width: max-content;

    font-size: 1.4rem;
    font-weight: 400;

    color: $text-grey;

    text-align: center;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }
  }
}

//FOOTER

.footer {
  background-color: black;

  padding: 9rem 0;

  @media screen and (max-width: $table-screen) {
    padding: 5rem 0;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: $mobile-screen) {
      flex-wrap: wrap;
    }
  }

  &__left {
    width: 100%;
    max-width: 250 / 1160 * 100%;

    @media screen and (max-width: $mobile-screen) {
      max-width: 100%;

      margin-top: 4rem;

      order: 3;
    }
  }

  &__center {
    width: 100%;
    max-width: 54.41379%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: $mobile-screen) {
      max-width: 50%;

      //margin-top: 4rem;

      order: 1;
    }
  }

  &__right{
    @media screen and (max-width: $mobile-screen) {
      //margin-top: 4rem;

      order: 2;
    }
  }

  &__social {
    @include margin(-1rem);

    margin-top: 4rem;

    @media screen and (max-width: $mobile-screen) {
      margin-top: 1rem;
    }

    &-list {
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-item {
      list-style-type: none;

      width: 2.7rem;
      height: 2.7rem;

      display: block;

      padding: 0;
      margin: 0 1rem;

      @media screen and (max-width: $mobile-screen) {
        width: 4.2rem;
        height: 4.2rem;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      &:hover {

        .icon {
          fill: $color-main;
        }
      }

      .icon {
        fill: white;

        width: 100%;
        height: 100%;

        transition: all 0.2s linear;
      }
    }
  }

  &__copyright {
    margin-top: 4rem;

    text-align: right;

    color: #807E7E;

    @media screen and (max-width: $mobile-screen) {
      max-width: 50%;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;

    @media screen and (max-width: $table-screen) {
      flex-direction: column;
      align-items: flex-start;

      padding-left: 5rem;
    }
    
    @media screen and (max-width: $mobile-screen) {
      padding-left: 0;
    }

    & > li {
      display: block;
      list-style: none;
      margin-left: 3.1rem;

      @media screen and (max-width: $table-screen) {
        margin-top: 1.5rem;
        margin-left: 0;
      }

      @media screen and (max-width: $mobile-screen) {
        margin-top: 3rem;
      }

      &:first-child {
        margin-left: 0;

        @media screen and (max-width: $table-screen) {
          margin-top: 0;
        }
      }
    }

    a {
      display: block;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: $white;
      font-weight: 400;
      transition: color $anim ease;
      
      @media screen and (max-width: $mobile-screen) {
        font-size: 2.6rem;
      }

      &.active {
        color: $color-main;
      }
    }
  }

  .call-block__link{
    font-size: 2rem;
  }

  .call-block__tel{
    font-size: 2.8rem;

    margin-top: 2rem;
  }
  
  .logo{
    @media screen and (max-width: $mobile-screen) {
      width: 20.4rem;
      height: 8.4rem;
    }
  }
}