.footer{
  padding: 4rem 0;

  background-color: $footer-bg;

  @media screen and (max-width: $mobile-screen) {
    padding: 2rem 0;
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__police{
    width: 100%;
    max-width: max-content;

    font-size: 1.4rem;
    font-weight: 400;
    
    color: $text-grey;

    text-align: center;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }
  }
}