.section-about{
  background-color: black;
  padding: 18rem 0 5rem;

  position: relative;

  &__inner{
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: $table-screen) {
        flex-direction: column;
    }
  }

  &__data{
    max-width: 550 / 1160 * 100%;

    @media screen and (max-width: $table-screen) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      max-width: none;

      @include margin(-1.5rem);

      position: relative;
      z-index: 10;
    }
    
    @media screen and (max-width: $mobile-screen) {
        flex-direction: column;
    }

    &-row{
      width: 100%;

      @media screen and (max-width: $table-screen) {
        max-width: 50%;
        padding: 1.5rem;
      }
      
      @media screen and (max-width: $mobile-screen) {
          max-width: none;
      }
    }
  }

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;

      width: 100%;

      margin-bottom: 0;

      padding-left: 1.5rem;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }

  &__subtitle{
    font-size: 3.8rem;
    font-weight: 700;

    margin-top: 4rem;
    margin-bottom: 2rem;

    text-align: left;

    color: $color-main;
    
    @media screen and (max-width: $mobile-screen) {
      font-size: 3.3rem;
    }
  }

  &__text{
    font-size: 2rem;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 0;

    text-align: left;

    color: white;
  }

  &__right{
    width: 100%;
    max-width: 550 / 1160 * 100%;

    @media screen and (max-width: $table-screen) {
      display: none;
    }
  }

  &__img{
    width: 100%;
    height: auto;
  }
}

//ABOUT MAP

.section-about-map{
  background-color: black;

  padding: 5rem 0;

  position: relative;

  @media screen and (max-width: $mobile-screen) {
    padding-bottom: 15rem;
  }

  &__inner{

  }

  &__img{
    width: 100%;
    height: auto;
  }
}