.section-free-site {
  background: black url('../images/content/section-free-site/bg.jpg') 85% 100% no-repeat;
  background-size: 55rem 35rem;

  padding-top: 18rem;
  padding-bottom: 5rem;

  @media screen and (max-width: $desctop-xs) {
    background-position: 100% 100%;
    background-size: 69rem 40rem;
  }

  @media screen and (max-width: $table-screen) {
    background-position: 308% 90%;
  }

  @media screen and (max-width: $mobile-screen) {
    background-position: 0 100%;
  }
}

//STEPS WORK

.section-steps-work {
  background-color: black;

  padding: 5rem 0;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 3rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }
}


//TECHNOLOGIST

.section-technologist {
  background-color: black;

  padding: 5rem 0;


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $table-screen) {
      flex-direction: column;

    }
  }

  &__data {
    width: 100%;
    max-width: 640 / 1160 * 100%;

    padding-right: 2.5rem;

    @media screen and (max-width: $table-screen) {
      max-width: none;

      padding-right: 0;
    }
  }

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 3rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 400;

    color: white;

    line-height: 3.2rem;

    margin-top: 0;
  }

  &__text-wrapper {
    padding-left: 2rem;

    border-left: 2px solid $color-main;

    @media screen and (max-width: $table-screen) {
      margin-bottom: 3rem;
    }
  }

  &__list-wrapper {
    @include margin(-2rem);

    @media screen and (max-width: $mobile-screen) {
      @include margin(-1.5rem);
    }
  }

  &__list {
    width: 100%;

    padding: 0;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    max-width: 50%;

    padding: 1.5rem;

    list-style-type: none;

    @media screen and (max-width: $table-screen) {
      max-width: 25%;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: 50%;

      padding: 1rem;
    }

    &-inner {
      width: 100%;
      height: 100%;

      background-color: #161616;

      padding: 3rem 2rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      border-radius: 1.6rem;
    }

    &-icon {
      width: 6.5rem;
      height: 6.5rem;

      .icon {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      margin-top: 2rem;

      font-size: 1.6rem;
      font-weight: 400;

      color: white;

      text-align: center;

      line-height: 3.2rem;

      @media screen and (max-width: $mobile-screen) {
        font-size: 2rem;
      }
    }
  }
}


//SITE PORTFOLIO
.section-site-portfolio{
  padding: 5rem 0;
  background-color: black;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 6rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }

  &__slide{
    padding: 0 2.5rem;

    &-inner{

    }

    &-img{
      width: 100%;
      height: auto;
    }
  }
}


//WANT SITE

.section-want-site {
  background-color: black;

  padding: 5rem 0;

  position: relative;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 3rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
      text-align: center;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    width: max-content;
    max-width: 300 / 732  * 100%;

    @media screen and (max-width: $mobile-screen) {
      position: relative;
      z-index: 10;

      max-width: none;
      width: 100%;

      border-radius: 1.6rem;

      background-color: $form-bg;

      padding: 4rem 2rem;
    }
  }

  &__form-row {
    margin-bottom: 3rem;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__img {
    width: 100%;
    max-width: 560 / 1160 * 100%;

    @media screen and (max-width: $table-screen) {
      max-width: 57.27586%;
    }

    @media screen and (max-width: $mobile-screen) {
      position: absolute;
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .img {
      width: 100%;
      height: auto;
    }
  }
}