.section-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-image: url("../images/content/main-section/bg-pc.jpg");

  @media screen and (max-width: $mobile-screen) {
    background-image: url("../images/content/main-section/bg-mb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }

  position: relative;

  width: 100%;
  height: auto;

  min-height: 72rem;

  @media screen and (max-width: $mobile-screen) {
    min-height: 82rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 10rem;

    @media screen and (max-width: $mobile-screen) {
      flex-direction: column;
      padding-top: 16rem;
    }
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    transform: translateY(-50%);

    @media screen and (max-width: $mobile-screen) {
      position: static;

      transform: translateY(0);
    }
  }

  &__data {
    width: 100%;
    max-width: 56rem;
  }

  .main-block__text {
    width: 100%;
    max-width: 45rem;
  }

  //form

  &__form {
    width: 100%;
    max-width: 40rem;

    padding: 4rem;

    background: rgba(23, 16, 16, 0.88);

    @media screen and (max-width: $table-screen) {
      max-width: 37rem;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: none;
      padding: 2rem;
      width: auto;

      @include margin(-2rem);
    }

    .form-text {
      max-width: 23rem;
      
      @media screen and (max-width: $mobile-screen) {
        max-width: 27rem;
      }
    }

    &-header {
      margin-bottom: 4rem;
    }

    &-body {
      margin-bottom: 4rem;
    }

    &-row {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;

      margin-bottom: 2rem;
    }

    &-col {
      width: 100%;
      max-width: 50%;

      &:first-child {
        padding-right: 1rem;
      }

      &:last-child {
        padding-left: 1rem;
      }
    }
  }
}

.main-block {
  &__title {
    font-size: 6.8rem;
    font-weight: 700;

    margin-bottom: 3rem;

    color: white;

    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 5.2rem;
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;

    color: white;
  }
}