//BEST CLIENTS
.section-best-clients {
  background-color: black;

  padding-top: 18rem;
  padding-bottom: 9rem;

  @media screen and (max-width: $table-screen) {
    padding-bottom: 5rem;
  }
  
  @media screen and (max-width: $mobile-screen) {
    padding-top: 10rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile-screen) {
      flex-direction: column;
    }
  }

  &__offer {
    width: 100%;
    max-width: 323 / 1160 * 100%;

    @media screen and (max-width: $mobile-screen) {
      max-width: none;
    }
  }

  &__best-offer {
    font-size: 1.3rem;
    font-weight: 500;

    margin-bottom: -0.5rem;

    letter-spacing: 3px;

    color: rgba(86, 75, 71, 1);

    text-transform: uppercase;

    @media screen and (max-width: $table-screen) {
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: $mobile-screen) {
      display: none;
    }
  }

  &__title {
    font-size: 7rem;
    font-weight: 700;

    max-width: 32.7rem;

    color: white;

    margin-bottom: 7rem;

    @media screen and (max-width: $table-screen) {
      font-size: 4.9rem;
      margin-bottom: 5rem;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: 23.7rem;
    }

    @media screen and (max-width: $mobile-screen) {
      margin-bottom: 3rem;
    }
  }

  &__labels {

    @media screen and (max-width: $mobile-screen) {
      display: none;
    }

    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;

      @media screen and (max-width: $table-screen) {
        flex-direction: column;
      }

      @media screen and (max-width: $mobile-screen) {
        flex-direction: row;
      }
    }

    &-col {
      width: 100%;
      max-width: 50%;
      padding: 0 2rem;

      @media screen and (max-width: $table-screen) {
        padding: 1.5rem 0;
        max-width: none;
      }

      @media screen and (max-width: $mobile-screen) {
        max-width: 50%;
        padding: 1.5rem 1rem;
      }

      &:first-child {
        padding-left: 0;

        @media screen and (max-width: $table-screen) {
          padding-top: 0;
        }

        @media screen and (max-width: $mobile-screen) {
          padding-top: 1.5rem;
        }
      }

      &:last-child {
        padding-right: 0;

        @media screen and (max-width: $table-screen) {
          padding-bottom: 0;
        }

        @media screen and (max-width: $mobile-screen) {
          padding-bottom: 1.5rem;
        }
      }
    }

    &-text {
      border-left: 2px solid #794620;

      padding-left: 1.6rem;

      font-size: 1.6rem;
      color: #564B47;

      font-weight: 300;

      @media screen and (max-width: $mobile-screen) {
        font-size: 2.1rem;
      }
    }
  }

  //slider
  &__slider {
    width: 100%;
    max-width: 700 / 1160 * 100%;

    @media screen and (max-width: $table-screen) {
      max-width: 61.34483%;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: none;
    }
  }

  &__dots {
    width: max-content;

    padding-left: 0;

    margin-bottom: 6rem;

    @include margin(auto);

    @media screen and (max-width: $table-screen) {
      margin-bottom: -2rem;
    }

    @media screen and (max-width: $mobile-screen) {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
    }

    &.active-mobile {
      display: none;

      @media screen and (max-width: $mobile-screen) {
        display: flex;
      }
    }

    &.remove-mobile {
      @media screen and (max-width: $mobile-screen) {
        display: none;
      }
    }
  }

  &__body {
    position: relative;

    &:after,
    &:before {
      content: "";

      display: block;

      width: 18rem;

      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 100;
      
      @media screen and (max-width: $mobile-screen) {
        width: 7rem;
      }
    }

    &:after {
      left: auto;
      right: 0;

      background: linear-gradient(270deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
    }

    &:before {
      left: 0;
      right: auto;

      background: linear-gradient(91.85deg, #020202 -1.5%, rgba(2, 2, 2, 0) 98.43%);
    }

    .slick-track {
      padding: 7rem 0;
    }
  }

  &__slide {
    padding: 0 1rem;

    transition: all 0.25s linear;

    height: 100%;

    transform: scale(1.4);

    @media screen and (max-width: $table-screen) {
      transform: scale(1);
    }

    &.slick-active {
      transform: scale(2);

      @media screen and (max-width: $table-screen) {
        transform: scale(1.2);
      }
    }

    &-img {
      width: 18rem;
      height: auto;

      transition: all 0.25s linear;

      @include margin(auto);

      border-radius: 1.6rem;

      @media screen and (max-width: $mobile-screen) {
        width: 21rem;
      }
    }

    &-inner {
      position: relative;
    }

    &-link-wrapper {
      position: absolute;
      left: 7rem;
      bottom: 2rem;
      top: auto;

      cursor: pointer;

      overflow: hidden;

      width: 8.2rem;
      height: 2.2rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding-left: 1.6rem;

      background-color: rgba(27, 21, 19, 1);

      @media screen and (max-width: $desctop-xs) {
        left: 12.3rem;
      }

      @media screen and (max-width: $table-screen) {
        left: 1.1rem;
      }

      @media screen and (max-width: $mobile-screen) {
        display: none;
      }
    }

    &-link {
      position: relative;

      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {

        .section-best-clients__slide-icon {
          transform: translateX(300%);
        }

        .section-best-clients__slide-icon-hover {
          transform: translateX(-2rem);
        }

      }
    }

    &-icon-hover {
      position: absolute;
      top: -0.1rem;
      bottom: -0.1rem;

      width: 11rem;
      left: 0;

      transition: all 0.35s ease-in-out;

      transform: translateX(-13rem);
    }

    &-text {
      font-size: 0.7rem;
      font-weight: 500;

      color: white;

      position: relative;
      z-index: 10;
    }

    &-icon {
      width: 0.7rem;
      height: 0.55rem;

      margin-left: 0.5rem;

      transition: all 0.35s ease-in-out;

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__footer {
    @media screen and (max-width: $mobile-screen) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__arrow {
    cursor: pointer;
    background-color: transparent;
    border: none;

    width: 3.4rem;
    height: 2.8rem;

    margin: 0 3.5rem;

    @media screen and (max-width: $mobile-screen) {
      margin: 0 1rem;
    }

    &-next{
      margin-right: 0;
    }

    &-prev{
      margin-left: 0;
    }

    .icon {
      stroke: $text-grey;
      fill: transparent;

      transition: all 0.2s linear;

      width: 100%;
      height: 100%;
    }

    &:hover .icon {
      stroke: $color-main;
    }

    &-wrapper {
      width: 100%;
      max-width: max-content;

      display: flex;
      align-items: center;
      justify-content: center;

      @include margin(auto);
      margin-top: 5rem;

      @media screen and (max-width: $table-screen) {
        margin-top: 0rem;
      }

      @media screen and (max-width: $mobile-screen) {
        margin-left: 0;
      }
    }
  }
}

//SERVICES
.section-services{
  background-color: black;

  padding: 9rem 0;

  @media screen and (max-width: $table-screen) {
    padding: 5rem 0;
  }

  &__title{
    font-size: 8.8rem;
    font-weight: 700;

    margin-bottom: 4rem;
    margin-top: 0;

    text-align: left;

    color: white;
    
    @media screen and (max-width: $table-screen) {
      font-size: 6.8rem;
    }
    
    @media screen and (max-width: $mobile-screen) {
      font-size: 5.1rem;
    }
  }
}