.section-free-translate {
  background: black url('../images/content/section-free-translate/bg.jpg') 85% 100% no-repeat;
  background-size: 52rem 52rem;

  padding-top: 18rem;
  padding-bottom: 5rem;

  @media screen and (max-width: $desctop-xs) {
    background-position: 100% 100%;
    background-size: 49rem 49rem;
  }

  @media screen and (max-width: $table-screen) {
    background-size: 39rem 39rem;
  }

  @media screen and (max-width: $mobile-screen) {
    background-position: 100% 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

//ADVANTAGES TRANSLATE

.section-advantages-translate {
  background-color: black;
  padding: 5rem 0;
}

.section-translate-thems {
  background-color: black;
  padding: 5rem 0;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 3rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }

  &__inner {

  }

  &__list {
    padding: 0;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include margin(-2rem);
  }

  &__item {
    width: 100%;
    max-width: 33.3333%;

    padding: 2rem;

    &-inner {
      width: 100%;

      position: relative;

      overflow: hidden;

      border-radius: .8rem;

      &,
      & * {
        cursor: default;
      }

      &:after {
        content: "";
        display: block;

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient(180deg, rgba(2, 2, 2, 0) 38.85%, #020202 100%);
      }

      &:hover .section-translate-thems__item-img {
        transform: scale(1.05);
        transition: all 0.7s ease-in-out;
      }
    }

    &-img {
      width: 100%;
      height: auto;

      transition: all 0.2s ease-in-out;
    }

    &-title {
      font-weight: 700;
      font-size: 2.4rem;

      color: white;

      margin: 0 auto;

      position: absolute;
      z-index: 10;
      bottom: 2rem;
      left: 50%;
      top: auto;

      transform: translateX(-50%);

      text-align: center;
      line-height: 3.6rem;
    }
  }

  &__item-inner {
    width: 100%;
  }
}

//TRANSLATE PRICE

.section-translate-price {
  background-color: black;
  padding: 5rem 0;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 4rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }

  &__list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include margin(-2rem);
    margin-top: -2rem;

    padding: 0;
  }

  &__item {
    max-width: 25%;
    width: 100%;

    padding: 0 2rem;

    @media screen and (max-width: $table-screen) {
      max-width: 50%;
      padding: 4rem 2rem;
    }
    
    @media screen and (max-width: $mobile-screen) {
        max-width: none;
    }

    &_blue{
      .section-translate-price__item-title{
        color: #1294DD;
      }
      .section-translate-price__item-btn{
        background-color: #1294DD;
      }

      .section-translate-price__item-inner:hover{
        box-shadow: 0px 0px 24px rgba(18, 148, 221, 0.58);
      }
    }

    &_green{
      .section-translate-price__item-title{
        color: #38A254;
      }
      .section-translate-price__item-btn{
        background-color: #38A254;
      }
      .section-translate-price__item-inner:hover{
        box-shadow: 0px 0px 24px rgba(56, 162, 84, 0.58);
      }
    }

    &_yellow{
      .section-translate-price__item-title{
        color: #EBAF3A;
      }
      .section-translate-price__item-btn{
        background-color: #EBAF3A;
      }
      .section-translate-price__item-inner:hover{
        box-shadow: 0px 0px 24px rgba(235, 175, 58, 0.58);
      }
    }

    &_oranj{
      .section-translate-price__item-title{
        color: #FF8800;
      }
      .section-translate-price__item-btn{
        background-color: #FF8800;
      }
      .section-translate-price__item-inner:hover{
        box-shadow: 0px 0px 24px rgba(255, 136, 0, 0.58);
      }
    }

    &-inner {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: column;

      background-color: #101010;
      border-radius: 1.6rem;

      padding: 4rem 4rem 6rem;

      position: relative;

      transition: all 0.25s linear;

      cursor: pointer;

      @media screen and (max-width: $desctop-xs) {
        padding: 4rem 2rem 6rem;
      }
    }

    &-header {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;

      margin-bottom: 4rem;
    }

    &-header-data {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }

    &-title {
      font-size: 1.4rem;
      font-weight: 700;

      color: white;

      margin-bottom: 0.2rem;
      margin-top: 0;

      text-transform: uppercase;
      
      @media screen and (max-width: $desctop-xs) {
        font-size: 1.9rem;
      }
      
      @media screen and (max-width: $mobile-screen) {
        font-size: 2.6rem;
      }
    }

    &-price {
      font-size: 1.6rem;
      font-weight: 700;

      color: white;

      margin-top: 0;
      margin-bottom: 0;
      
      @media screen and (max-width: $desctop-xs) {
        font-size: 1.7rem;
      }
      
      @media screen and (max-width: $mobile-screen) {
        font-size: 2.1rem;
      }
    }

    &-icon {
      width: 4.5rem;
      height: 4.5rem;

      margin-right: 2rem;
      
      @media screen and (max-width: $mobile-screen) {
        width: 6.5rem;
        height: 6.5rem;
      }
    }

    &-list {
      padding: 0;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }

    &-list-item {
      list-style-type: none;

      margin-bottom: 2rem;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        width: 1.6rem;
        height: 1.6rem;

        margin-right: 1.2rem;
        
        @media screen and (max-width: $desctop-xs) {
          width: 2.6rem;
          height: 2.6rem;
        }
      }

      .text {
        font-size: 1.4rem;
        font-weight: 400;

        color: white;
        
        @media screen and (max-width: $desctop-xs) {
          font-size: 1.7rem;
        }
        
        @media screen and (max-width: $mobile-screen) {
          font-size: 2.2rem;
        }
      }
    }

    &-btn-wrapper {
      width: 6rem;
      height: 6rem;

      border-radius: 50%;

      position: absolute;
      z-index: 1;
      top: auto;
      bottom: 0;
      left: 50%;

      transform: translate(-50%, 50%);
    }

    &-btn {
      overflow: hidden;

      background-color: #ff0606;

      position: relative;

      border-radius: 50%;

      width: 100%;
      height: 100%;

      display: block;

      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        .section-translate-price__item-arrow-normal{
          transform: translate(200%, -50%);
        }

        .section-translate-price__item-arrow-bg{
          transform: translate(-2rem, -50%);
        }

        .section-translate-price__item-arrow-hover{
          transform: translate(-50%, -50%);
          left: 50%;
        }
      }
    }

    &-arrow {
      &-normal {
        width: 1.8rem;
        height: 1.8rem;

        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        transition: all 0.25s ease-in-out;

        .icon {
          width: 100%;
          height: 100%;
        }
      }

      &-hover {
        width: 1.8rem;
        height: 1.8rem;

        position: absolute;
        z-index: 100;
        top: 50%;
        left: 0;

        transform: translate(-200%, -50%);

        transition: all 0.25s ease-in-out;

        .icon {
          width: 100%;
          height: 100%;
        }
      }

      &-bg {
        width: 10rem;
        height: 100%;

        position: absolute;
        z-index: 10;
        top: 50%;
        left: 0;

        transform: translate(-10rem, -50%);

        transition: all 0.25s ease-in-out;
      }
    }
  }
}

//TRANSLATE PROCESS

.section-translate-process{
  padding: 5rem 0;

  background-color: black;

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 3rem;
    margin-top: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }
  }
}