//.services-list

.services-list {
  display: flex;


  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &-icon {

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}


//slider arrow
.slider-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  visibility: hidden;

  padding: 0 6rem;

  @media screen and (max-width: $table-screen) {
    padding: 0 2rem;
  }

  &__prev,
  &__next {
    width: 2.5rem;
    height: 1.8rem;

    visibility: visible;

    transition: all 0.2s linear;

    cursor: pointer;
    outline: none;
    border: none;

    background: transparent;

    &:hover .icon {
      stroke: $color-main;
    }

    .icon {
      width: 100%;
      height: 100%;

      stroke: $text-grey;
      fill: transparent;

      transition: all 0.2s linear;
    }

    &:hover {

    }

    &:active {

    }
  }
}


//FORM

.form-block {
  background: rgba(23, 16, 16, 0.88);

  padding: 4rem;

  border-radius: 1.6rem;

  &__header {
    margin-bottom: 4rem;
  }

  &__body {
    margin-bottom: 4rem;
  }

  &__row {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 2rem;
  }

  &__col {
    width: 100%;
    max-width: 50%;

    &:first-child {
      padding-right: 1rem;
    }

    &:last-child {
      padding-left: 1rem;
    }
  }

  &__police{
    margin-bottom: 0;
  }
}