//.services-list

.services-list {
  display: flex;


  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &-icon {

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}


//slider arrow
.slider-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  visibility: hidden;

  padding: 0 6rem;

  @media screen and (max-width: $table-screen) {
    padding: 0 2rem;
  }

  &__prev,
  &__next {
    width: 2.5rem;
    height: 1.8rem;

    visibility: visible;

    transition: all 0.2s linear;

    cursor: pointer;
    outline: none;
    border: none;

    background: transparent;

    @media screen and (max-width: $table-screen) {
      width: 3.5rem;
      height: 2.8rem;
    }

    &:hover .icon {
      stroke: $color-main;
    }

    .icon {
      width: 100%;
      height: 100%;

      stroke: $text-grey;
      fill: transparent;

      transition: all 0.2s linear;
    }

    &:hover {

    }

    &:active {

    }
  }
}


//FORM

.form-block {
  background: rgba(23, 16, 16, 0.88);

  padding: 4rem;

  border-radius: 1.6rem;

  &__header {
    margin-bottom: 4rem;
  }

  &__body {
    margin-bottom: 4rem;
  }

  &__row {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 2rem;
  }

  &__col {
    width: 100%;
    max-width: 50%;

    &:first-child {
      padding-right: 1rem;
    }

    &:last-child {
      padding-left: 1rem;
    }
  }

  &__police {
    margin-bottom: 0;
  }
}

//SLDIER DOTS

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;

  @include margin(-1.2rem);

  li {
    list-style-type: none;

    margin: 0 1.2rem;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    width: 1.2rem;
    height: 1.2rem;

    border-radius: 50%;

    position: relative;

    @media screen and (max-width: $mobile-screen) {
      width: 2.2rem;
      height: 2.2rem;
    }

    &.slick-active button {
      transform: scale(1);
    }

    &:after {
      content: "";

      display: block;

      background-color: transparent;

      width: 0.8rem;
      height: 0.8rem;

      border: 1px solid #564B47;

      border-radius: 50%;

      @media screen and (max-width: $mobile-screen) {
        width: 1.7rem;
        height: 1.7rem;
      }
    }
  }

  button {
    font-size: 0;
    background-color: $color-main;

    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    transform: scale(0);

    transition: all 0.2s linear;

    border-radius: 50%;

    outline: none;
    border: none;
  }
}

//SERVICES BLOCK

.services-block {
  padding: 9rem 0;

  &:last-child {
    padding-bottom: 0;
  }

  &_lidogen {
    background: black url("../images/content/section-services/0.jpg") 100% 50% no-repeat;
    background-size: contain;
  }

  &_site {
    background: black url("../images/content/section-services/1.jpg") 100% 50% no-repeat;
    background-size: contain;
  }

  &_translate {
    background: black url("../images/content/section-services/2.jpg") 100% 50% no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: $mobile-screen) {
    padding-top: 25rem;
    background-position: 0 0;
  }

  &__title {
    font-weight: 600;
    font-size: 5rem;

    color: white;

    text-align: left;

    margin-bottom: 3rem;
    margin-top: 0;

    max-width: 70rem;

    @media screen and (max-width: $mobile-screen) {
      font-size: 3.7rem;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 3.8rem;

    color: $color-main;

    margin-bottom: 2rem;
    margin-top: 0;

    max-width: 70rem;

    @media screen and (max-width: $mobile-screen) {
      font-size: 3rem;
    }
  }

  &__text {
    margin-bottom: 2rem;

    font-size: 2rem;
    font-weight: 400;

    color: white;

    text-align: left;

    max-width: 70rem;

    line-height: 3.2rem;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2.1rem;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__btn {
    &-cal {
      margin-right: 3rem;
    }
  }
}

//REQUES

.request-block {
  background-color: black;

  padding: 9rem 0;

  @media screen and (max-width: $table-screen) {
    padding: 5rem 0;
  }

  &_padding {
    padding: 5rem 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #101010;

    padding: 2rem 2rem 2rem 0;

    border-radius: 1.6rem;

    @media screen and (max-width: $mobile-screen) {
      padding: 0;
    }
  }

  &__data {
    width: 100%;
    max-width: 500 / 1160 * 100%;

    padding-top: 4rem;
    padding-left: 6rem;
    padding-bottom: 4rem;

    @media screen and (max-width: $desctop-xs) {
      max-width: 53.10345%;
    }

    @media screen and (max-width: $table-screen) {
      max-width: 51.1035%;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: none;

      padding: 5rem 3rem;
    }
  }

  &__right {
    width: 100%;
    max-width: 560 / 1160 * 100%;

    @media screen and (max-width: $mobile-screen) {
      display: none;
    }
  }

  &__title {
    font-size: 3.7rem;
    font-weight: 700;

    margin-bottom: 2rem;

    color: white;

    text-align: left;

    @media screen and (max-width: $table-screen) {
      font-size: 2.8rem;
    }

    @media screen and (max-width: $mobile-screen) {
      text-align: center;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;

    margin-bottom: 2.4rem;

    color: white;

    text-align: left;

    @media screen and (max-width: $table-screen) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $mobile-screen) {
      text-align: center;
    }
  }

  &__btn {
    width: max-content;

    @media screen and (max-width: $mobile-screen) {
      @include margin(auto);
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}


//BLOCK INFORMATION

.block-information {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0;

  @include margin(-1.5rem);

  @media screen and (max-width: $mobile-screen) {
    flex-direction: column-reverse;
  }

  &_revers {
    flex-direction: row-reverse;

    @media screen and (max-width: $mobile-screen) {
      flex-direction: column-reverse;
    }
  }

  &__col {
    width: 100%;
    max-width: 50%;

    padding: 0 1.5rem;

    @media screen and (max-width: $mobile-screen) {
      max-width: none;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 3.8rem;
    font-weight: 700;

    margin-bottom: 2rem;
    margin-top: 0;

    color: white;

    @media screen and (max-width: $table-screen) {
      font-size: 3rem;
    }

    &_center {
      text-align: center;
    }

    &_active {
      color: $color-main;
    }

    &_450 {
      max-width: 45rem;
      @include margin(auto);
    }
  }

  &__subtitle {
    font-size: 2rem;

    color: white;

    margin-bottom: 0;

    @media screen and (max-width: $table-screen) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $mobile-screen) {
      margin-bottom: 3rem;

      font-size: 2rem;
    }

    &_center {
      text-align: center;
    }

    &_active {
      color: $color-main;
    }

    &_450 {
      max-width: 45rem;
      @include margin(auto)
    }
  }
}

//BLOCK SOCIALS

.block-socials {

  @media screen and (max-width: $mobile-screen) {
    @include margin(-1rem);
  }

  &__list {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 0;

    @include margin(-2rem);

    @media screen and (max-width: $mobile-screen) {
      @include margin(auto)
    }
  }

  &__item {
    list-style-type: none;

    display: block;

    margin: 2rem;

    width: 8rem;
    height: 8rem;

    @media screen and (max-width: $table-screen) {
      width: 6.6rem;
      height: 6.6rem;

      margin: 1rem;
    }
  }

  &__item-inner {
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

//BLOCK CART

.block-cart {

  &__list {
    padding: 0;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;

    @include margin(-1.5rem);
  }

  &__item {
    width: 100%;
    padding: 1.5rem;

    &_2 {
      max-width: 50%;

      @media screen and (max-width: $mobile-screen) {
        max-width: none;
      }
    }

    &_3 {
      max-width: 33.3333333%;

      @media screen and (max-width: $table-screen) {
        max-width: 50%;
      }

      @media screen and (max-width: $mobile-screen) {
        max-width: none;
      }
    }
  }

  &__item-inner {
    background-color: #101010;

    padding: 4rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;

    @media screen and (max-width: $table-screen) {
      padding: 2rem;
    }

    &_noneBg {
      background: transparent;
    }

    &_paddingSmall {
      padding: 2rem;
    }
  }

  &__data {
    padding-left: 2rem;

    width: 100%;
    max-width: 39.6rem;

    @media screen and (max-width: $table-screen) {
      padding-left: 3rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;

    margin-bottom: 0.8rem;
    margin-top: 0;

    color: white;

    @media screen and (max-width: $table-screen) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 2.6rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.8rem;

    color: white;

    margin-bottom: 0;
    margin-top: 0;

    &_small {
      font-size: 1.4rem;
      color: $text-grey;
    }

    @media screen and (max-width: $table-screen) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }
  }

  &__icon {
    width: 100%;
    max-width: 5rem;
    height: 5rem;

    @media screen and (max-width: $mobile-screen) {
      min-height: 7rem;
      min-width: 7rem;
    }

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}

//BLOCK INTRO

.block-intro {

  &__title {
    font-size: 8.8rem;
    font-weight: 600;

    text-align: left;

    color: white;

    margin-bottom: 4rem;
    margin-top: 5rem;

    @media screen and (max-width: $table-screen) {
      font-size: 6.4rem;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 4.4rem;
    }

    &_mb {
      margin-bottom: 10rem;
    }
  }

  .input-text {
    @media screen and (max-width: $table-screen) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }
  }

  .input-submit {
    @media screen and (max-width: $table-screen) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;

      padding: 2rem 5.8rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 2rem;

    margin-bottom: 6rem;

    color: white;

    max-width: 47rem;

    @media screen and (max-width: $table-screen) {
      margin-bottom: 4rem;
    }
  }

  &__form {
    &_bg {
      width: max-content;
      padding: 3rem;
      background-color: $form-bg;

      border-radius: 1.6rem;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @include margin(-2rem);

    @media screen and (max-width: $mobile-screen) {
      flex-direction: column;
      align-items: flex-start;

      @include margin(0);
    }
  }

  &__col {
    padding: 0 2rem;

    @media screen and (max-width: $mobile-screen) {
      margin-bottom: 4rem;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//BLOCK CONTACTS

.block-contacts {
  width: 100%;
  max-width: 40rem;

  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(0, -50%);

  padding: 3.5rem;

  border-radius: 1.6rem;

  background: $form-bg;

  @media screen and (max-width: $mobile-screen) {
    padding: 3rem;

    transform: translate(0, 0);

    position: static;
    max-width: none;

    margin-bottom: 5rem;
  }

  &__row {
    width: 100%;

    margin-bottom: 1.4rem;

    color: white;

    &:last-child {
      margin-bottom: 0;
    }

    &_hr{
      border-top: 2px solid #262C35;

      padding-top: 1.4rem;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 1.6rem;

    text-align: left;

    color: white;

    transition: all 0.2s linear;

    width: max-content;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }

    &:hover{
      color: $color-main;
    }
  }

  &__adress{
    font-weight: 400;
    font-size: 1.6rem;

    line-height: 3.2rem;

    color: white;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2rem;
    }
  }
}
