@import "./normalize";
@import "vars";
@import "./mixins";
@import "fonts";
@import "./sprite_generated";
@import "../../libs/slick-carousel/slick/slick.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:active,
:focus,
:hover {
    outline: 0;
}


html,
body {
    height: 100%;
    padding: 0;
}

html {
    font-size:10px;
    line-height:1.2;
    overflow-y:scroll;

    &.scroll-lock {
        body {
            overflow: hidden;
        }
    }

    @include r(1270px) {
        font-size: .8vw;
    }
    @include r($table-screen) {
        font-size: 1.2vw;
    }
    @include r($mobile-screen) {
        font-size: 2.2vw;
    }

}

body {
    display:block;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: $base-bg;
    color: $base-color;
    font-family: $font-default;
    font-weight: normal;
    font-size: 1.4rem;
}

.layout {
    position: relative;
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration:none;
    color:inherit;
}
a {
    cursor:pointer;
}
p {
    margin: 15px 0;
}

p:empty {
    display: none;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

.svg-store {
    display: none;
    height: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: $container-w + 2*$cp;
    padding:0 $cp;
    margin-left: auto;
    margin-right: auto;
    position:relative;

    @include r($table-screen) {
        max-width: 100%;
        padding: 0 2rem;
    }
}

.icon {
    display:block;
    width:100%;
    height:100%;
}

.blue {
    color: $color-main;
}

.text-center {
    text-align: center;
    justify-content: center;
}

b, strong {
    font-weight: bold;
}
.section-default {
    display: block;
    width: 100%;
    position: relative;
    padding: 10rem 0 14rem;

    &.section-default-dark {
        color: $white;
        background: $dark;

        .text-block {
            color: $text-grey;
        }
    }
    .section-default__bg-img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: .1;
    }
}
.section__title {
    display: block;
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 2.5rem;
}


.text-block {
    display: block;
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    & > * {
        margin: 0 0 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

button, input, a{
    -webkit-tap-highlight-color: transparent;
}

.text-active{
    color: $color-main;
}
.text-medium{
    font-weight: 700;
}

.text-link{
    transition: all 0.2s linear;

    &:hover{
        color: $color-main;
    }
}