// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

$container-w: 116rem;
$cp: 5rem;

//colors
$color-main: #fa935c;
$color-main-2: #43abf0;
$text-color: #2a2b30;
$text-grey:#979797;
$dark: #272733;
$base-color: $text-color;
$base-bg: #fff;
$header-bg: #10101d;
$dark-blue: #286690;

$footer-bg: #3d4050;
$footer-link-main: #fefefe;
$footer-link-alter: #c3c3c3;

$white: #fff;

$input-bg: #dfdfe1;
$input-file-bg: #f4f4f5;


$ff-lato: 'Poppins', sans-serif;
$font-default: $ff-lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;


// custom grid
$full-hd: 1920px;
$desctop-xs: 1280px;
$table-screen: 1023px;
$mobile-screen: 767px;

$anim:0.3s;
