// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

//colors
$base-color: #333;
$base-bg: #fff;

$font-default: 'Helvetica Neue', Arial, Helvetica, sans-serif;


// custom grid
$full-hd: 1920px;
$desctop-xs: 1280px;
$table-screen: 1023px;
$mobile-screen: 767px;

$anim:0.3s;
